<nav class="navbar " role="navigation">
	<div class="row navbar-black">
		<div class="navbar-header visible-md visible-lg col-md-12 col-lg-12">
		    <a class="navbar-brand" href="http://www.hhs.gov"><img src="http://www.fda.gov/ucm/groups/fdagov-public/@system/documents/system/gov-hhs-white.svg" class="logo-navbar"/></a>
		    <span>U.S. Department of Health and Human Services</span>
		</div>
	</div>
	<div class="row navbar-blue">
		<div class="fda-header col-md-12 col-lg-12">
		    <a class="navbar-brand" href="http://www.fda.gov"><img src="http://www.fda.gov/ucm/groups/fdagov-public/@system/documents/system/gov-fda-white-svg.svg" class="fda-logo-navbar"/></a>
		    <span>U.S. Food and Drug Administration</span>
		    <p><span class="visible-md visible-lg">Protecting and Promoting Your Health</span></p>
		</div>
	</div>
	<span class="fa fa-user" data-toggle="modal" data-target="#myModal" style="font-size:40px;position:absolute;top:0px;right:0px;color:white;cursor:pointer"></span>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">User Settings</h4>
      </div>
      <div class="modal-body">
        Specify the severity levels and state(s) that you would like to receive warnings of Food and Drug Recalls.
	<div data-role="main" class="ui-content">
    <form method="post" action="demoform.asp">
		<div class="control-group">
		<label class="control-label" for="stateSelect">State(s)</label>
		<div class="controls">
		<select class="form-control" id="stateSelect" multiple="multiple" style="width=100%" ng-model="selectedStates">
		<option name="Alabama" value="Alabama">Alabama</option>
		   <option value="Alaska">Alaska</option>
		   <option value="Arizona">Arizona</option>
		   <option value="Arkansas">Arkansas</option>
		   <option value="California">California</option>
		   <option value="Colorado">Colorado</option>
		   <option value="Connecticut">Connecticut</option>
		   <option value="Delaware">Delaware</option>
		   <option value="Washington D.C.">Washington D.C.</option>
		   <option value="Florida">Florida</option>
		   <option value="Georgia">Georgia</option>
		   <option value="Hawaii">Hawaii</option>
		   <option value="Idaho">Idaho</option>
		   <option value="Illinois">Illinois</option>
		   <option value="Indiana">Indiana</option>
		   <option value="Iowa">Iowa</option>
		   <option value="Kansas">Kansas</option>
		   <option value="Kentucky">Kentucky</option>
		   <option value="Louisiana">Louisiana</option>
		   <option value="Maine">Maine</option>
		   <option value="Maryland">Maryland</option>
		   <option value="Massachusetts">Massachusetts</option>
		   <option value="Michigan">Michigan</option>
		   <option value="Minnesota">Minnesota</option>
		   <option value="Mississippi">Mississippi</option>
		   <option value="Missouri">Missouri</option>
		   <option value="Montana">Montana</option>
		   <option value="Nebraska">Nebraska</option>
		   <option value="Nevada">Nevada</option>
		   <option value="New Hampshire">New Hampshire</option>
		   <option value="New Jersey">New Jersey</option>
		   <option value="New Mexico">New Mexico</option>
		   <option value="New York">New York</option>
		   <option value="North Carolina">North Carolina</option>
		   <option value="North Dakota">North Dakota</option>
		   <option value="Ohio">Ohio</option>
		   <option value="Oklahoma">Oklahoma</option>
		   <option value="Oregon">Oregon</option>
		   <option value="Pennsylvania">Pennsylvania</option>
		   <option value="Rhode Island">Rhode Island</option>
		   <option value="South Carolina">South Carolina</option>
		   <option value="South Dakota">South Dakota</option>
		   <option value="Tennessee">Tennessee</option>
		   <option value="Texas">Texas</option>
		   <option value="Utah">Utah</option>
		   <option value="Vermont">Vermont</option>
		   <option value="Virginia">Virginia</option>
		   <option value="Washington">Washington</option>
		   <option value="West Virginia">West Virginia</option>
		   <option value="Wisconsin">Wisconsin</option>
		   <option value="Wyoming">Wyoming</option>
		</select>
		</div>
		</div>
      <div class="controlgroup">
        <label class="control-label">Severity Level</label>
		    <div class="form-group">
		        <label style="padding-right:10px" ng-repeat="severityName in severity">
				  <input
				    type="checkbox"
				    name="selectedSeverity[]"
				    value="{{severityName}}"
				    ng-checked="severitySelection.indexOf(severityName) > -1"
				    ng-click="toggleSeveritySelection(severityName)"
				  > {{severityName}}
				</label>
		    </div>	
      </div>
    </form>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
