<nav class="navbar " role="navigation">
	<div class="row navbar-black">
		<div class="navbar-header visible-md visible-lg col-md-12 col-lg-12">
		    <a class="navbar-brand" href="http://www.hhs.gov"><img src="http://www.fda.gov/ucm/groups/fdagov-public/@system/documents/system/gov-hhs-white.svg" class="logo-navbar"/></a>
		    <span>U.S. Department of Health and Human Services</span>
		</div>
	</div>
	<div class="row navbar-blue">
		<div class="fda-header col-md-12 col-lg-12">
		    <a class="navbar-brand" href="http://www.fda.gov"><img src="http://www.fda.gov/ucm/groups/fdagov-public/@system/documents/system/gov-fda-white-svg.svg" class="fda-logo-navbar"/></a>
		    <span>U.S. Food and Drug Administration</span>
		    <p><span class="visible-md visible-lg">Protecting and Promoting Your Health</span></p>
		</div>
	</div>
</nav>
