body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:22px;
  top:247px;
  width:100px;
  height:14px;
  font-size:11px;
}
#u1 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u0_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2 {
  position:absolute;
  left:20px;
  top:197px;
  width:180px;
  height:22px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2_input:disabled {
  color:grayText;
}
#u3 {
  position:absolute;
  left:20px;
  top:177px;
  width:34px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:20px;
  top:225px;
  width:92px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:20px;
  top:77px;
  width:358px;
  height:41px;
  font-size:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:41px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:22px;
  top:266px;
  width:100px;
  height:14px;
  font-size:11px;
}
#u10 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11 {
  position:absolute;
  left:22px;
  top:285px;
  width:100px;
  height:14px;
  font-size:11px;
}
#u12 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13 {
  position:absolute;
  left:20px;
  top:148px;
  width:178px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:20px;
  top:132px;
  width:37px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:20px;
  top:20px;
  width:358px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:140px;
  top:323px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u0_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1.a {
}
#u2.a {
  position:absolute;
  left:20px;
  top:197px;
  width:180px;
  height:22px;
}
#u2_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u9_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10.a {
}
#u11.a {
}
#u11_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12.a {
}
#u13.a {
  position:absolute;
  left:20px;
  top:148px;
  width:178px;
  height:25px;
}
#u13_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u0_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1.b {
}
#u2.b {
  position:absolute;
  left:20px;
  top:197px;
  width:180px;
  height:22px;
}
#u2_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3.b {
}
#u5.b {
}
#u7.b {
}
#u9.b {
}
#u9_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10.b {
}
#u11.b {
}
#u11_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12.b {
}
#u13.b {
  position:absolute;
  left:20px;
  top:148px;
  width:178px;
  height:25px;
}
#u13_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14.b {
}
#u16.b {
}
#u18.b {
}
