<nav class="navbar " role="navigation">
	<div class="row navbar-black visible-md visible-lg">
		<div class="navbar-header visible-md visible-lg col-md-12 col-lg-12">
		    <a class="navbar-brand" href="http://www.hhs.gov"><img src="http://www.fda.gov/ucm/groups/fdagov-public/@system/documents/system/gov-hhs-white.svg" class="logo-navbar"/></a>
		    <span id="hhsDescription">U.S. Department of Health and Human Services</span>
		</div>
	</div>
	<div class="row navbar-blue">
		<div class="fda-header col-md-12 col-lg-12">
		    <a class="navbar-brand" href="http://www.fda.gov"><img src="http://www.fda.gov/ucm/groups/fdagov-public/@system/documents/system/gov-fda-white-svg.svg" class="fda-logo-navbar"/></a>
		    <span id="fdaDescription">U.S. Food and Drug Administration</span>
		    <p><span id="fdaTagline" class="visible-md visible-lg">Protecting and Promoting <span id="fdaTaglineInnerSpan">Your</span> Health</span></p>
		</div>
	</div>
	<span ng-if="viewSettings" class="fa fa-cogs" ng-click="showAppSettings()" style="font-size:40px;position:absolute;top:0px;right:0px;color:white;cursor:pointer" tabindex=1></span>
</nav>

<!-- Modal -->
    <div class="modal fade" id="mySettingsModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="appSettingsForm" role="form">
                    <div class="modal-header">
                        <h4 class="modal-title">Food Recall App Settings</h4>
                        <hr>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="appSettingsError">
                            <strong>There was an error updating the settings.</strong>
                        </div>
                        <div class="form-group">
                            <label>Alert Message (this message will be displayed as an ALERT on the home page)</label>
                            <textarea type="text" class="form-control" name="appAlertInput" ng-model="tempAppAlert" id="appAlertText" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" id="settingsCancel">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="button" class="btn btn-success" ng-click="updateAppSettings()">
                            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
